{{> header}}
	<div class="layout container">
		<div class="mainpage">
			<div class="mainpage__about-service">
				<h1>Сервис аренды велосипедов</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse blanditiis illo aperiam voluptatibus at nobis impedit illum deserunt vero commodi voluptate optio excepturi quidem nostrum laboriosam hic quas voluptas, ut!</p>
				<div class="mainpage__target-buttons">
					<a href="/catalog" class="btn">Арендовать велосипед</a>
					<a href="/map" class="btn">Найти пункт выдачи</a>
				</div>
			</div>
		</div>
	</div>
{{> footer}}
